div a {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
    vertical-align:middle;
    display: inline-block;
    text-align: right;
}
.jumbo1
{
  text-align: center;
  color: white;
  font-size: 12;
  font-weight: bolder;
}

.backgrounds {
  background-color: #282828;

}
/* background="../img/lagos2.png" */
.background1 {
    background-image: url('../img/lagos3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.background2 {
    background-color: #D3D3D3;
    /* background-image: url('../img/lagos4.png'); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.nextpage {
  text-align: center;
  color: black;
  font-size: 12;
  background-color: #D3D3D3;
  /* font-weight: bold; */
}
.backs{
  background-color: #20B2AA;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.backs2{
  background-color: 	#ffcccc;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.skills {
  background-image: url('../img/skills.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.skills2 {
  background-image: url('../img/skills5.png');
  background-repeat;
  /* background-size: 100% 100%; */
}
/* img { */
    /* display: inline-block;
} */
